<div class="filter-holder">
    <p>Tarih</p>
    <input class="datepicker-here table-input table-filter" data-type="date" data-name="date" data-range="true" data-multiple-dates-separator=" | " id="table_date" data-position="bottom left" data-language="tr" placeholder="Tarih Aralığı Seçiniz" type="text"
        autocomplete="off">
</div>