<div class="filter-holder">
    <p>Ara</p>
    <div class="table-search">
        <input class="table-input table-filter" data-type="search" data-name="search" id="table_search" placeholder="Tüm yazılarda arayın" autocomplete="off">
        <button class="table-search-button">Ara</button>
    </div>
</div>